<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/assets/favicon.png">

    <title>audience · yapyapyap</title>

    <meta name="description" content="yapyapyap: a bullshitting game, with audience pressure!">

    <meta property="og:url" content="https://yyy.tongyu.dev">
    <meta property="og:type" content="website">
    <meta property="og:title" content="yapyapyap">
    <meta property="og:description" content="join room <%= roomId %> on yapyapyap">
    <!-- <meta property="og:image" content="/assets/ogimg.png"> -->
    <meta property="og:site_name" content="tongyu">

    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="yyy.tongyu.dev">
    <meta property="twitter:url" content="https://yyy.tongyu.dev">
    <meta name="twitter:title" content="yapyapyap">
    <meta name="twitter:description" contents="join room <%= roomId %> on yapyapyap">
    <!-- <meta name="twitter:image" content="/assets/ogimg.png"> -->

    <meta name="theme-color" content="#FCCAB3">
  </head>
  <body>
    <style>

      #caption-vote-container {
        display: flex;
        flex-flow: row wrap;
        width: 80%;
        justify-content: space-between;
        margin: 0 auto;
        margin-bottom: 20px;
      }

      #caption-vote-container .caption-div {
        width: 32%;
        border: 2px solid var(--black);
        border-radius: 10px;
        box-sizing: border-box;
        padding: 15px 20px;
        text-align: center;
      }

      #caption-vote-container .caption-div.selected {
        border-color: var(--green);
        background-color: var(--green);
      }

      #caption-vote-container .caption-div p {
        margin: 0;
        margin-top: 5px;
      }

      #img-vote-container {
          display: flex;
          flex-flow: row wrap;
          width: 80%;
          justify-content: space-between;
          margin: 0 auto;

      }

      #img-vote-container .img-div {
        width: 24%;
        border: 2px solid var(--black);
        border-radius: 10px;
        box-sizing: border-box;
        padding: 0;

        display: flex;
        justify-content: top;
        flex-flow: column;
      }

      #img-vote-container .img-div.selected {
        border-color: var(--green);
        background-color: var(--green);
      }


      #img-vote-container .img-div img {
        width: 100%;
        border-radius: 8px 8px 0 0;
        margin: 0;
      }

      #img-vote-container .vote-percentage {

        text-align: center;
        margin-bottom: 0;
        padding-bottom: 10px;

      }

      #end {
        display: none;
      }

      #end.show {
        display: block;
      }


    </style>
    <header>
      <p>yapyapyap · yyy.tongyu.dev</p>
      <p>room code: <em><%= roomId %></em></p>
    </header>


    <main>
      <div id="instructions">
        <p>waiting for host to start game...</p>
        <p>the presenter does NOT know what slide is coming next.</p>
        <p>they will have to create a cohesive presentation from whatever you choose as the audience.</p>
        <p>start voting for the first slide:</p>
      </div>

      <div id="end">
        <p>there are no more slides for this presentation!</p>
        <p>thank you for playing yapyapyap :)</p>

      </div>

      <div id="caption-vote-container">

      </div>

      <div id="img-vote-container">

      </div>




      <script src="/socket.io/socket.io.js"></script>
      <script src="/audience.js"></script>
    </main>


  </body>
</html>
