<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>you are in room <span id="roomId"><%= roomId %></span></p>

    <div id="slides"></div>
    <div id="voteResults"></div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/audience.js"></script>

  </body>
</html>
