<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/assets/favicon.png">

    <title>present · yapyapyap</title>

    <meta name="description" content="yapyapyap: a bullshitting game, with audience pressure!">

    <meta property="og:url" content="https://yyy.tongyu.dev">
    <meta property="og:type" content="website">
    <meta property="og:title" content="yapyapyap">
    <meta property="og:description" content="yapyapyap: a bullshitting game, with audience pressure!">
    <!-- <meta property="og:image" content="/assets/ogimg.png"> -->
    <meta property="og:site_name" content="tongyu">

    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="yyy.tongyu.dev">
    <meta property="twitter:url" content="https://yyy.tongyu.dev">
    <meta name="twitter:title" content="yapyapyap">
    <meta name="twitter:description" contents="yapyapyap: a bullshitting game, with audience pressure!">
    <!-- <meta name="twitter:image" content="/assets/ogimg.png"> -->

    <meta name="theme-color" content="#FCCAB3">

  </head>
  <body>

    <style>


      #show {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        text-align: center;
      }

      #showProgress {
        margin-bottom: 5px;
      }

      #showCaption {
        font-size: 4em;
        font-weight: bold;
        margin-top: 5px;
        margin-bottom: 20px;
      }

      #showImg img {
        max-width: 80vw;
        max-height: 70vh;
      }

      #end {
        display: none;
        text-align: center;
      }

      #end .big {
        font-size: 4em;
        font-weight: bold;
      }

      #end.show {
        display: block;
      }

      .display-none {
        display: none !important;
      }




    </style>

    <header>
      <p>yapyapyap · yyy.tongyu.dev</p>
      <p>room code: <em><%= roomId %></em> · <span class="audience-count">0</span> audience</p>
    </header>

    <main>
          <div id="instructions">
            <p>there are <span class="audience-count">0</span> audience members in this room</p>

            <p>presenter doesn't know what's happening</p>
            <p>audience members can live vote for the next slide.</p>
            <p>audience can begin voting now !!!</p>

            <button type="button" name="button" onclick="nextRound()">ready to begin?</button>

          </div>

          <div id="show">
            <p id="showProgress"></p>
            <div id="showCaption"></div>
            <div id="showImg""></div>

          </div>

          <div id="end">
            <p class="big">the end.</p>
            <p>thank you for playing yapyapyap!</p>
            <p>(reload the page to restart with the same room code)</p>

          </div>
    </main>




    <script src="/socket.io/socket.io.js"></script>
    <script src="/present.js"></script>

  </body>
</html>
