<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>present! <%= roomId %></h1>
    <p>there are <span id="audience-count">0</span> audience members in this room</p>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/present.js"></script>

  </body>
</html>
